{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div class="logo"></div>
    <h1>Iniciar sesión</h1>
</div>


<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input class="button" type="submit" value="Ingresar">
    </form>
    <p>
        ¿No tienes una cuenta? 
        <a color='#FFA07A' href="{% url 'register' %}">Regístrate</a>
    </p>
    <p>
        ¿Olvidaste tu contraseña?
        <a color='#FFA07A' href="{% url 'reset_password' %}">Recuperar contraseña</a>
    </p>
</div>






{% endblock content %}