{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div class="logo"></div>
    <h1>Recuperar contraseña</h1>
</div>

<div class="card-body">
<h3>Restablecimiento de contraseña enviado</h3>

<p>Te hemos enviado instrucciones por correo electrónico para configurar tu contraseña, si existe una cuenta con el correo electrónico que ingresaste, deberías recibirlo en breve.</p>

<p>Si no recibes un correo electrónico, asegúrate de haber ingresado la dirección con la que te registraste y verifica tu carpeta de correo no deseado.</p>
</div>

{% endblock content %}