{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div class="logo"></div>
    <h1>Recuperar contraseña</h1>
</div>

<div class="card-body">

<p>¿Olvidaste tu contraseña? Ingresa tu email a continuación para recibir un correo con las instrucciones para recuperar tu usuario</p>

<form method="post">

    {% csrf_token %}
    {{form}}

    <input class="button" type="Submit" name="Recuperar">

</form>
    <p>¿Recordaste tu contraseña? <a href="{% url 'login' %}">Inicia sesión</a></p>
</div>

{% endblock content %}